 .login-box {

	background-color: #eda23e;
	margin-bottom: 10px;
}


.login-box .inner {
	margin: 1px;

	padding: 11px 17px 11px 17px;
	color: #7e7e7e;
	min-height: 60px;
	position: relative;
}
.login-box .inner a {
	text-decoration: none;
	font-family: '맑은 고딕', AppleGothic;
	color: #7e7e7e;
}
.login-box .inner .login-box-top {
	font-size: 17px;
	margin-bottom: 4px;
	position: relative;
}

.login-box .inner .login-box-top p {
	color: #ffffff;
	font-family: Arial;
	font-size: 9pt;
}
.login-box .inner .login-box-top .register {
	float: left;
}
.login-box .inner .register-right {
	color: #ffffff;
	font-weight: bold;
}
.login-box .inner .login-box-middle {
	margin: 1em 0 1em 0;
}
.login-box .inner .login-box-middle div {
	border: 1px solid #db5e31;
	height: 25px;
	overflow: hidden;
	background-color: #ffffff;
}
.login-box .inner .login-box-middle div  input {
	height: 25px;
	line-height: 18px;
	font-style: italic;
	font-size: 8pt;
	font-family: Arial;
	width: 90%;
	border: 0;
	padding: 0 0 0 3em;
	background-color: transparent;
}

.login-box .inner .login-box-middle div input[name="mb_id"] {
	
}

.login-box .inner .login-box-middle .username {
	margin-bottom: 5px;
}
.login-box .inner  .login-box-bottom {
	text-align: center;
	font-size: 12px;
}
.login-box .inner  .login-box-bottom .remember {
	position: relative;
	top: -2px;
	left: 0;
}
.login-box .inner  .login-box-bottom .remember .remember-text {
	position: relative;
	top: 0;
	margin-left: 7px;
}

.login-box .inner  .login-box-bottom  .setting {
	margin: 0.5em 0 0 0;
}

.login-box .inner  .login-box-bottom  .setting .find-password {
	font-style: italic;
	color: #ffffff;
}

.login-box .inner  .login-box-bottom .submit-button {
	margin: 0 auto;
}
.login-box .inner  .login-box-bottom .submit-button input[type='submit']{
	border: 1px solid #f2cb67;
	background-color: #f2cb67;
	color: #6b6658;
	width:	120px;
	line-height: 19px;
	padding: 0.5em 2em;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}

.login-box .inner .login-box-info, .login-box .inner .login-box-info a {
	padding-top: 4px;
	font-size: 8pt;
	font-family: Arial;
	color: #ffffff;
}
.login-box .inner .login-box-info .admin-pannel {
	margin-bottom: 3px;
}
.login-box .inner .login-box-info .username {
	margin-bottom: 6px;
}


.login-box .inner .login-box-info .logout-button {
	display: inline-block;
	border-radius: 3px;
	position: absolute;
	bottom: 13px;
	right: 17px;

}
.login-box .inner .login-box-info .logout-button a {
	background: #f2cb67;
	color: #ffffff;
	padding: 0.5em 1em;
	height: 26px;
	line-height: 26px;
}
.login-box .inner .login-box-info .profile {
	margin-top: 5px;
}
.login-box .inner .login-box-info .profile a, .login-box .inner .login-box-info .setting a  {

}

.login-box .inner .login-box-info .setting .message img{

}

.login-box .inner .login-box-info .profile img, .login-box .inner .login-box-info .setting img {

}

/** LOGGED IN */
.login-box.logged-in {
	height: 175px;
}

.login-box.logged-in .logged-in-name {
	color: #ffffff;
	margin-bottom: 6px;
	font-size: 12px;'
	font-weight: bolder !important;
	text-align: center;
}

.login-box.logged-in a {
	color: #ffffff;
}

.login-box.logged-in .logged-in-messages, .login-box.logged-in .logged-in-change-password {
	padding: 7px 9px 8px 9px;
	background: #db5e31;
	margin-bottom: 10px;
}

.login-box.logged-in .logged-in-messages img, .login-box.logged-in .logged-in-change-password img {
	margin-right: 7px;
}

.login-box.logged-in .logout-button {
	background: #f2cb67;
	width: 120px;
	padding: 9px 0;
	text-align: center;
	margin: 0 auto 9px auto;
}

.login-box.logged-in .logout-button a {
	padding: 9px 36px;
}

.login-box.logged-in .logout-button a {
	color: #565656;
}

.login-box.logged-in .account-settings {
	text-align: center;
}
.login-box.logged-in .admin-mode {
	float: left;
	background: #db5e31;
	padding: 2px 5px;
}
.login-box.logged-in .admin-mode a{
	font-size: 10px;
	font-weight: bold;
}